# Data Science Tools and Ecosystem

### This notebook is about Data science Tools , diffrent types of Languages , Libraries  are summrized here

## **Objectives**
- Python
- R
- SQL
- Scala
- Java
- C++
- Julia
- Ruby
- java script
- php

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas , Numpy
2. Matplotlib , Seaborn
3. Scikit learn , Keras
4. Tensorflow , PyTorch

| Data Science Tools |
| ------------------ |
| Jupyter Notebool , Jupyter lab |
| Apache Zeppelin |
| R Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python
1. 2+3x4
2. 5-2x4/2

In [28]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [30]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Navdeep singh